# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeUserPresets.json
compile_commands.json

# Special Directories
.cache
.git
.DS_Store
build/
logs/
deps/glfw-3.4.bin.MACOS/
deps/imgui-1.91.9/

# Other save files
*.ini
